[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/pavolusa
[access "refs/for/refs/*"]
	read = group user/pavolusa
	push = group user/pavolusa
	label-Code-Review = -2..+2 group user/pavolusa
	label-Verified = -1..+1 group user/pavolusa
	rebase = group user/pavolusa
	removeReviewer = group user/pavolusa
	submit = group user/pavolusa
[access "refs/heads/*"]
	read = group user/pavolusa
	create = group user/pavolusa
	push = +force group user/pavolusa
	pushMerge = group user/pavolusa
[access "refs/tags/*"]
	push = group user/pavolusa
	push = +force group user/pavolusa
