{% for type in type_objs %}
    {% if forloop.first %}
        <li class="h4 active">
            <a id="tab-{{ type.name | slugify }}" href="#{{ type.name | slugify }}" data-toggle="tab" aria-expanded="true">
                <i class="fa fa-folder-o" aria-hidden="true"></i> &nbsp;
                {{ type.name }}
            </a>
            {{ type.description }}
        </li>
    {% else %}
        <li class="h4">
            <a id="tab-{{ type.name | slugify }}" href="#{{ type.name | slugify }}" data-toggle="tab" aria-expanded="false">
                <i class="fa fa-folder-o" aria-hidden="true"></i> &nbsp;
                {{ type.name }}
            </a>
            {{ type.description }}
        </li>
    {% endif %}        
{% endfor %}  